<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:slack="https://github.com/ntrprs/NTRPRS.NLog.Slack/raw/master/NTRPRS.NLog.Slack.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NTRPRS.NLog.Slack" />
  </extensions>

  <targets async="true">  
    <target xsi:type="Slack"
            name="slackTarget"
            layout="${message}"
            webHookUrl="https://hooks.slack.com/services/%your%/%tokens%/%here%"
            channel="#software"
            excludeLevel="false"
            embed="true"
            username="NTRPRS.NLog.Slack"
            icon=":ghost:"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="slackTarget" />
  </rules>
</nlog>